body {
    text-align: center;
    background-image:url('https://media.tenor.com/X40HfBseNU8AAAAC/nightlights-8bit.gif');
    
    background-repeat: no-repeat;
    background-size: cover;
}


.count {

    position:relative;
    font-size: 20px;
    font-family: 'Acme', sans-serif;

}
.reset{
    padding:5px;
}
    .timer{
margin:10px;
font-family:'Silkscreen', cursive ;
font-size: 25px;
    }
.card-flip {
    margin: 20px;
        background-color: transparent;
        width: 50px;
        height: 80px;
        border: 1px solid black;
        perspective: 1000px; 
}
.inner-card-flip {
    position: relative;
  width: 50px;
  height: 80px;
  text-align: center;
  transition: transform .5s;
  transform-style: preserve-3d;

}
.flip-card {
    transform:rotateY(180deg)
}
.card-flip .inner-card-flip {
cursor:pointer;
    
}
.card-flip-front {
position: absolute;
  width: 50px;
  height: 80px;
  backface-visibility:hidden; 
  transform: rotateY(0deg);
 

}
.card-flip-front {
    background-color: rgb(187, 238, 238);
  color: rgb(187, 238, 238);;
  
  
}

.card {
    
    background-color:aliceblue;
    
    width: 50px;
    height: 80px;
    
    display:flex;
    justify-content: center;
    align-items:center; 
    backface-visibility:hidden; 
  transform: rotateY(180deg);
    
 }
.wrapper{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    
}
h1 {
    font-family: 'Silkscreen', cursive;
    font-size: 50px;
    text-align:center;
    border: 5px solid rgb(187, 238, 238);
    padding: 20px;
    background-color: rgb(187, 238, 238);
    color:black;
}
.instructions-label{
    font-family:'Acme', sans-serif;;
    font-weight: bolder;
    
    
   margin-bottom: 20px;
    font-size:30px;
}
.instructions {
    font-size: 20px;
    font-family: 'Acme', sans-serif;
}